
@charset "UTF-8";

.container {
	display: block;
}

.text-black {
	text-align: center;
}
.btn btn-outline-success btn-lg {
	justify-content: center;
}
#seplogo {
	height: 80px;
}

.dropdown-menu .dropdown-item {
  line-height: 1.5;
}

.dropdown-menu form .dropdown-item {
  background: transparent;
  border: 0;
}